* {
  font-family: Arial, Helvetica, sans-serif
}

h1 {
  font-size: 80px;
  color: rgba(255, 255, 255, 0.4);
}

body {
  margin: 0;
  background: url('./src/images/retro.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  /* background-position: center center; */
  /* background-attachment: fixed; */
  /* display: flex;
  align-items: center;
  height: 100vh; */
}

.simon {
  margin: 0 auto;
  position: relative;
}

.game-container {
  display: flex;
  height: 100vh;
}

.score {
  height: 70vh;
  width: 70vh;
  top: calc(50% - 35vh);
  right: calc(50% - 94vh);
  /* background: rgba(0,0,0,.9); */
  position: absolute;
  text-align: center;
  /* font-size: 50px; */
  /* margin: 90px; */
  /* border-radius: 2em 15px; */
}

.gameboard {
  height: 100vh;
  width: 100vh;
  background: black;
  border-radius: 50%;
  overflow: hidden;
  /* margin: 0 auto; */
  border: 15px solid black;
  margin-top: calc(50vh - 50%);
  max-height: 77vh;
  max-width: 77vh;
  cursor: pointer;
  box-shadow: 0 0 40px  10px black;
}

.color {
  width: 50%;
  height: 50%;
  /* border: 10px solid black; */
  box-sizing: border-box;
  float: left;
}

/* Colors */
.green {
  background: #00D853;
  border-radius: 25px
}
.green.light {
  background: rgb(79, 255, 146)
}

.red {
  background: #FF0000;
  border-radius: 25px
}
.red.light {
  background: rgb(243, 46, 46)
}

.yellow {
  background: #F6C600;
  border-radius: 25px
}
.yellow.light {
  background: rgb(255, 220, 78)
}

.blue {
  background: #005CD0;
  border-radius: 25px
}
.blue.light {
  background: rgb(28, 127, 247)
}

.center {
  height: 35vh;
  width: 35vh;
  border-radius: 50%;
  border: 15px solid black;
  background: url('./src/images/simon-txt.png') #000 center;
  background-size: 100%;
  background-repeat: no-repeat;
  box-sizing: border-box;
  position: absolute;
  top: calc(50% - 17.5vh);
  left: calc(50% - 17.5vh);
  box-shadow: rgba(0, 0, 0, 0.315) 0px 0px 10px 10px, rgba(0, 0, 0, 0.315) 0px 0px 20px 20px inset;
  box-shadow: 0 0 40px 5px black
}

/* Bordes */
.top {
  border-bottom: 7.5px solid black
}
.bottom {
  border-top: 7.5px solid black
}
.left {
  border-right: 7.5px solid black;
}
.right {
  border-left: 7.5px solid black;
}

/* shadows */
.left.top {
  box-shadow: rgba(0, 0, 0, 0.315) -5px -5px 10px 5px inset;
}
.left.bottom {
  box-shadow: rgba(0, 0, 0, 0.315) -5px 5px 10px 5px inset;
}
.right.top {
  box-shadow: rgba(0, 0, 0, 0.315) 5px -5px 10px 5px inset;
}
.right.bottom {
  box-shadow: rgba(0, 0, 0, 0.315) 5px 5px 10px 5px inset;
}

/* Button */
.btn-start {
  height: 100px;
  width: 400px;
  border-radius: 5px;
  background: purple;
  color: white;
  font-size: 2.5em;
  position: absolute;
  top: calc(50% - 50px);
  left: calc(50% - 200px);
  cursor: pointer;
  outline: none
}

.hide {
  display: none
}

.level {
  margin: 0;
  font-size: 3em
}

